esp32_nodered_flows.json
[{"id":"d61e2594.8b7ec8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e58624.7faaba","type":"mqtt out","z":"d61e2594.8b7ec8","name":"","topic":"esp32/output","qos":"","retain":"","broker":"10e78a89.5b4fd5","x":570,"y":740,"wires":[]},{"id":"abf7079a.653be8","type":"mqtt in","z":"d61e2594.8b7ec8","name":"","topic":"esp32/moisture","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":380,"y":600,"wires":[["cc79021b.9a751","21eae8f8.2971b8","961027eb.040768"]]},{"id":"83cf37cf.c76988","type":"ui_switch","z":"d61e2594.8b7ec8","name":"","label":"Output","tooltip":"","group":"fc7c0e41.d5efb","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":369,"y":740,"wires":[["9e58624.7faaba"]]},{"id":"cc79021b.9a751","type":"debug","z":"d61e2594.8b7ec8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":611,"y":574,"wires":[]},{"id":"21eae8f8.2971b8","type":"ui_chart","z":"d61e2594.8b7ec8","name":"","group":"d988e40b.624498","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":590,"y":660,"wires":[[]]},{"id":"a5dfd00a.bc1bd","type":"mqtt in","z":"d61e2594.8b7ec8","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":390,"y":380,"wires":[["2b44bc82.d07774","6a629c18.9a40f4","616183f4.18a5fc"]]},{"id":"2b44bc82.d07774","type":"debug","z":"d61e2594.8b7ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":360,"wires":[]},{"id":"3a6c8928.7aaa56","type":"mqtt in","z":"d61e2594.8b7ec8","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":380,"y":180,"wires":[["5ac0d8b6.e1feb8","2dd9ce8e.f77922","2626ae6d.c032b2"]]},{"id":"5ac0d8b6.e1feb8","type":"debug","z":"d61e2594.8b7ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":160,"wires":[]},{"id":"2dd9ce8e.f77922","type":"ui_gauge","z":"d61e2594.8b7ec8","name":"","group":"61285987.c20328","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#164288","#7e00e6","#cb3a3a"],"seg1":"","seg2":"","x":590,"y":220,"wires":[]},{"id":"6a629c18.9a40f4","type":"ui_gauge","z":"d61e2594.8b7ec8","name":"","group":"ae455ae2.d51ca8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"deg C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":420,"wires":[]},{"id":"2626ae6d.c032b2","type":"ui_chart","z":"d61e2594.8b7ec8","name":"","group":"61285987.c20328","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":590,"y":260,"wires":[[]]},{"id":"616183f4.18a5fc","type":"ui_chart","z":"d61e2594.8b7ec8","name":"","group":"ae455ae2.d51ca8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":480,"wires":[[]]},{"id":"961027eb.040768","type":"ui_gauge","z":"d61e2594.8b7ec8","name":"","group":"d988e40b.624498","order":2,"width":"0","height":"0","gtype":"wave","title":"Soil Moisture","label":" units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":620,"wires":[]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc7c0e41.d5efb","type":"ui_group","name":"Controls","tab":"e7c46d5e.a1283","order":4,"disp":true,"width":"6","collapse":false},{"id":"d988e40b.624498","type":"ui_group","name":"Soil Moisture","tab":"e7c46d5e.a1283","order":3,"disp":true,"width":"6","collapse":false},{"id":"61285987.c20328","type":"ui_group","name":"Humidity","tab":"e7c46d5e.a1283","order":2,"disp":true,"width":"6","collapse":false},{"id":"ae455ae2.d51ca8","type":"ui_group","name":"Temperature","tab":"e7c46d5e.a1283","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7c46d5e.a1283","type":"ui_tab","name":"Dashboard","icon":"dashboard"}]